body{
    margin: 0;
    padding: 0;
    text-align: justify;
}


.row_1{
    display: block;
    float: left;
    padding: 0;
    height: 150px;
    width: 46%;
    background-color: rgb(221, 209, 209) ;
    margin: 1% 2%;
}

.row_2{
    clear: both;
    height: 400px;
    background-color: rgb(116, 121, 116);
    margin: 2% 2%;
}


.row_3{
    display: block;
    float: left;
    width: 610px;
    height: 250px;
    background-color: rgb(38, 39, 38);
    margin-left: 70px;
}

.block{
    width: 98.5%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    bottom: 0px;
    left: 0px;
}
.row_4{
    width: 20%;
    height: 75px;
    margin: 2% 0.5%;
    background-color: rgb(0, 0, 0);
    
}