table{
    width: 100%;
    height: 100%;
    border-spacing: 10px ;
}


#first_line{
    height: 60px;
    background-color: chocolate;
}
#second_line{
    height: 320px;
    background-color: cornflowerblue;
}

#third_line{
    height: 150px;
    background-color: darkblue;
}

#fourth_line{
    height: 120px;
    background-color: darkseagreen;
}